/**
* GLOBAL
* TEXT SELECT
* CLEARFIX
* FONT FACES
* ELEMENTS
* USEFUL CLASSES
* HEADER
* NAVIGATION
* FOOTER
* ANIMATIONS
* RIBBON
* FORM
* GENERAL
* MEDIA QUERIES
*/


/**
* GLOBAL
* -----------------------------------------------------------------------------
*/
* {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
body {
    background: #3F3552;
    color: #FEFDFD;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.3;
    /**/
    -webkit-font-smoothing: antialiased;
}
/**
* TEXT SELECT
* -----------------------------------------------------------------------------
*/
::-moz-selection {
    background: #CB4D59;
    color: #FEFDFD;
    text-shadow: none;
}
::selection {
    background: #CB4D59;
    color: #FEFDFD;
    text-shadow: none;
}
::-moz-selection {
    background: #CB4D59;
    color: #FEFDFD;
    text-shadow: none;
}
/**
* CLEARFIX
* -----------------------------------------------------------------------------
*/
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/**
* FONT FACES
* -----------------------------------------------------------------------------
*/
/**
* ELEMENTS
* -----------------------------------------------------------------------------
*/
p {
    margin: 0 0 15px;
}
ul {
    list-style: disc outside;
    margin: 0 0 15px;
    padding: 0 0 0 15px;
}
ol {
    list-style: outside decimal;
    margin: 0 0 15px 20px;
    padding: 0;
}
img {
    height: auto;
    max-width: 100%;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}
a:link {
    color: #CB4D59;
    font-weight: 600;
    text-decoration: underline;
}
a:visited {
    color: #CB4D59;
    font-weight: 300;
}
a:hover,a:active,a:focus {
    text-decoration: none;
}
::-webkit-input-placeholder {
    opacity:1;
}
:-moz-placeholder {
    opacity:1;
}
::-moz-placeholder {
    opacity:1;
}
:-ms-input-placeholder {
    opacity:1;
}
td {
    vertical-align: top;
}
/**
* USEFUL CLASSES
* -----------------------------------------------------------------------------
*/
/**
* HEADER
* -----------------------------------------------------------------------------
*/
header h1 {
    font-size: 3em;
    margin: 0.5em;
    text-align: center;
}
/**
* NAVIGATION
* -----------------------------------------------------------------------------
*/
/**
* FOOTER
* -----------------------------------------------------------------------------
*/
footer {
    height: 40px;
    text-align: center;
}
footer .likely {
    margin-top: 8px;
}
/**
* ANIMATIONS
* -----------------------------------------------------------------------------
*/
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 #FEFDFD;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}
/**
* RIBBON
* -----------------------------------------------------------------------------
*/
.ribbon {
    font-size: 13px;
    height: 12.1em;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -999999px;
    top: 0;
    width: 12.1em;
    z-index: 9999;
}
.ribbon:before, .ribbon:after {
    display: block;
    position: absolute;
    height: 1.54em;
    top: 3.23em;
    right: -3.23em;
    width: 15.38em;
    /**/
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ribbon:before {
    content: "";
    background-color: #CB4D59;
    padding: .38em 0;
    pointer-events: auto;
    /**/
    -webkit-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
}

.ribbon:after {
    content: attr(title);
    color: #fff;
    font-size: 1em;
    line-height: 1.54em;
    margin: .15em 0;
    padding: .15em 0;
    text-decoration: none;
    text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
    text-align: center;
    text-indent: 0;
}
/**
* FORM
* -----------------------------------------------------------------------------
*/
::-webkit-input-placeholder {
    color: #AEAEAE;
}
:-moz-placeholder {
    color: #AEAEAE;
}
::-moz-placeholder {
    color: #AEAEAE;
}
:-ms-input-placeholder {
    color: #AEAEAE;
}
input[type="text"] {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
}
.btn, .btn:hover, .btn:focus,
a.btn, a.btn:hover, a.btn:focus {
    background-color: #CB4D59;
    background-image: none;
    border: 0;
    border-bottom: 3px solid #8B121E;
    border-radius: 0;
    color: #FEFDFD;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    outline: 0 none;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-appearance: none;
}
.btn-play, .btn-play:hover, .btn-play:focus,
a.btn-play, a.btn-play:hover, a.btn-play:focus {
    background: #18AE90;
    border-bottom: 3px solid #017F66;
    padding: 10px 30px;
}
a.btn-play:before {
    content: "";
    background: url('../img/play.svg') no-repeat center center;
    font-size: 1em;
    height: 30px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 30px;
}
a.btn-play.playing:before {
    background: url('../img/stop.svg') no-repeat center center;
}
.btn:active,
a.btn:active {
    top:3px;
    border-bottom: 0;
}
/**
* GENERAL
* -----------------------------------------------------------------------------
*/
noscript p {
    margin: 10px 0;
    text-align: center;
}
#app {
    margin: 0 auto;
    width: 90%;
}
#app .uil-ring-css {
    margin: 0 auto;
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}
#filter {
    text-align: center;
}
#filter form {
    overflow: hidden;
}
#filter input + .btn {
    height: 34px;
    left: -5px;
    position: relative;
}
#list ul {
    list-style-type: none;
    margin: 2em 0 0;
    padding: 0;
    text-align: center;
}
#list ul li {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    margin: 0 0 1em;
    overflow: hidden;
    position: relative;
}
#list ul li a {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
/**
* MEDIA QUERIES
* -----------------------------------------------------------------------------
*/
@media only screen and (min-width:768px){
    #list ul li {
        width: 46%;
        margin-left: 1%;
        margin-right: 1%;
    }
}
@media only screen and (min-width:1024px){
    #list ul li {
        width: 370px;
    }
}
@media only screen and (max-width:767px){
    header,
    footer {
        background: #3f3552;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 5;
    }
    header {
        top: 0;
    }
    header h1 {
        font-size: 2.2em;
    }
    footer {
        bottom: 0;
    }
    #app {
        margin-bottom: 40px;
        margin-top: 90px;
    }
    #list ul li {
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media only screen and (max-width:400px){
    header h1 {
        font-size: 1.6em;
    }
    #app {
        margin-top: 75px;
    }
}
@media only screen and (max-width:320px){
    input[type="text"] {
        width: 60%;
    }
    .btn, .btn:hover, .btn:focus,
    a.btn, a.btn:hover, a.btn:focus {
        width: 30%;
    }
}
