<form action="index.html" method="post">
    <label for="filter">Filtrer les sons</label>
    <input type="text" name="s" value="" id="filter" placeholder="Ex. : Perceval">
    <input type="reset" value="Réinitialiser" class="btn-reset invisible">
    <input type="submit" name="submit" value="Filtrer" class="btn">
</form>
