<div class="share-link">
    <form action="index.html" method="get">
        <label for="url">Lien à partager</label>
        <input type="text" name="url" id="url" value="{{url}}">
    </form>

    <div class="likely" data-title="#Kaamelott Soundboard - {{title}}" data-url="{{url}}">
        <div class="facebook">Partager</div>
        <div class="twitter" data-via="2ec0b4">Tweet</div>
        <div class="gplus">+1</div>
    </div>
</div>
