<div class="share-link">
    <form action="index.3b670b17.html" method="get">
        <label for="share">Lien à partager</label>
        <textarea name="share" rows="6" cols="40">#Kaamelott Soundboard - {{title}}
{{url}}</textarea>
    </form>
</div>
